*
{
    margin: 0;
    padding: 0;    
    font-family: 'roboto', calibri, sans-serif;
    /*border: 1px solid blue;*/
}
html
{
}
em
{
    font-style: normal;
}
body

{
    overflow-x: hidden;
    width: 100%;
}
body>img
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 720px;
}

/*EN TETE JUSQU'AU SLOGAN*/
header
{
    position: relative;
    width: 100%;
    height: 645px;
    border-bottom: 7px solid #FFFFFF;
}

/*BARRE ROUGE FIXE TOUT EN HAUT*/
.onglet
{
    position: fixed;
    z-index: 2500;
    width: 100%;
    opacity: 0.8;
}
#imgonglet
{
    position: absolute;
    top: 0px;
    z-index: 2500;
    width: 100%;
    height: 43px;
}
#adressemail
{
    position: absolute;
    margin-top: 0.3%;
    right: 35%;
    z-index: 2501;
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 90%;
}
#num
{
    position: absolute;
    margin-top: 0.4%;
    right: 15%;
    z-index: 2501;
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 150%;
}

/*LA BARRE DE NAVIGATION FIXE*/
.navbar
{
    height: 53px;
    background-color: rgba(255,255,255,0.8);
    background-image: none;
    border-bottom: 5px solid rgba(192,57,43,1);
    padding-left: 5%;
    top: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}
nav>div>ul>img
{
    position: absolute;
    left: 7px;
    top: -10px;
    width: 17%;
    opacity: 0.85;
}
.nav>li>a 
{
    border-radius: 0;
    color: rgba(192, 57, 43,1);
    font-weight: bold;
    line-height: 30px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.nav>li>a:hover
{
    background-color: rgba(192,57,43,1);
    color: #FFFFFF;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

/*LES IMAGES DU HEADER*/
#conteneur
{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-left: -7.5%;
    width: 115%;
}
#conteneur>div
{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 25%;
    height: 640px;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    border: 3px solid #FFFFFF;
    transform: skewX(-15deg);
}
#slogan
{
    position: absolute;
    bottom : 0;
    width: 100%;
    line-height: 300%;
    vertical-align: middle;
    background-color: rgba(192,57,43,0.8);
    text-align: center;
    font-size: 200%;
    color: #FFFFFF;    
}
/*PREMIERE IMAGE DU HEADER*/
#pendulaire
{
    background-image: url("img/pendulaire.jpg");
}
#grispendulaire
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-duration: 1s;
}
#titrependulaire
{
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 110px;
    margin-left: 19%;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
    transform: skewX(15deg);
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#txtpendulaire
{
    position: absolute;
    display: inline-block;
    margin-top: 200px;
    padding: 0 100px;
    width: 100%;
    opacity: 0;
    text-align: justify;
    vertical-align: middle;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 160%;
    transform: skewX(15deg);
}
#conteneur>div:hover
{
    width: 70%;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
}
#pendulaire:hover #titrependulaire
{
    margin-left: 30%;
    transition-duration: 3s;
    -webkit-transition-duration: 2.8s;
}
#pendulaire:hover #txtpendulaire
{
    margin-left: 5%;
    width: 100%;
    opacity: 1;
    transition-delay: 1.7s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 1.7s;
    -webkit-transition-duration: 0.4s;
}
#pendulaire:hover #grispendulaire
{
    background-color: rgba(0,0,0,0.6);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

/*DEUXIEME IMAGE DU HEADER*/
#dechets
{
    background-image: url("img/dechets.png");
}
#grisdechets
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-duration: 1s;
}
#titredechets
{
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 110px;
    margin-left: 10%;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
    transform: skewX(15deg);
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#txtdechets
{
    position: absolute;
    display: inline-block;
    margin-top: 200px;
    padding: 0 100px;
    width: 100%;
    opacity: 0;
    text-align: justify;
    vertical-align: middle;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 160%;
    transform: skewX(15deg);
}
#dechets:hover #titredechets
{
    margin-left: 30%;
    transition-duration: 3s;
    -webkit-transition-duration: 2.8s;
}
#dechets:hover #txtdechets
{
    opacity: 1;
    transition-delay: 1.7s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 1.7s;
    -webkit-transition-duration: 0.4s;
}
#dechets:hover #grisdechets
{
    background-color: rgba(0,0,0,0.6);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

/*TROISIEME IMAGE DU HEADER*/
#concasseur
{
    background-image: url("img/concasseur.png");
}
#grisconcasseur
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-duration: 1s;
}
#titreconcasseur
{
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 110px;
    margin-left: 21%;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
    transform: skewX(15deg);
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#txtconcasseur
{
    position: absolute;
    display: inline-block;
    margin-top: 200px;
    padding: 0 100px;
    width: 100%;
    opacity: 0;
    text-align: justify;
    vertical-align: middle;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 160%;
    transform: skewX(15deg);
}
#concasseur:hover #titreconcasseur
{
    margin-left: 32%;
    transition-duration: 3s;
    -webkit-transition-duration: 2.8s;
}
#concasseur:hover #txtconcasseur
{
    opacity: 1;
    transition-delay: 1.7s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 1.7s;
    -webkit-transition-duration: 0.4s;
}
#concasseur:hover #grisconcasseur
{
    background-color: rgba(0,0,0,0.6);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

/*QUATRIEME IMAGE DU HEADER*/
#bois
{
    background-image: url("img/bois.png");
}
#grisbois
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-duration: 1s;
}
#titrebois
{
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 110px;
    margin-left: 10%;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
    transform: skewX(15deg);
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#txtbois
{
    position: absolute;
    display: inline-block;
    margin-top: 200px;
    padding: 0 100px;
    width: 100%;
    opacity: 0;
    text-align: justify;
    vertical-align: middle;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 160%;
    transform: skewX(15deg);
}
#conteneur:hover #titrebois
{
    margin-top: 195%;
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#bois:hover #titrebois
{
    margin-top: 110px;
    margin-left: 25%;
    transition-duration: 2.8s;
    -webkit-transition-delay: -0.35s;
    -webkit-transition-duration: 2.8s;
}

#bois:hover #txtbois
{
    width: 90%;
    opacity: 1;
    transition-delay: 1.7s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 1.7s;
    -webkit-transition-duration: 0.4s;
}
#bois:hover #grisbois
{
    background-color: rgba(0,0,0,0.6);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

/*LES VALEURS DE LA SAM DANS UNE FLEXBOX*/
#valeurs
{
    background-color: rgba(192,57,43,0.9);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0px 20px 0px;
    margin-top: 10%;
    width: 80%;
}
#valeurs>p
{
    width: 100%;
    text-align: center;
    padding: 25px;
    font-size: 200%;
    color: #FFFFFF; /*rgba(192,57,43,1);*/
}
#valeurs>div
{
    background-color: #FFFFFF;
    padding: 20px 15px;
    margin: 0 7px;
    text-align: center;
    width: 23%;
}
#valeurs>div>img
{
    width: 50%;
}
#valeurs>div>p
{
    display: inline-block;
    margin-top: 10%;
    width: 80%;
    text-align: justify;
}
#valeurs>div>p>span
{
    display: block;
    text-align: center;
    margin-bottom: 5%;
    color: rgba(192,57,43,1);
    font-weight: bold;
}
footer
{
    background-color: rgba(192,57,43,1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 0;
    margin-top: 120px;
    border-top: 7px solid #FFFFFF;
}
footer>div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 200%;
}
#design
{
    width: 100%;
    margin-top: 40px;
    font-size: 80%;
}
/*LA CARTE GOOGLE MAP*/
#carte
{
    border-left: 4px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    padding: 0 50px;
    height: 300px;
}




