*
{
    margin: 0;
    padding: 0;    
    font-family: 'roboto', calibri, sans-serif;
    /*border: 1px solid blue;*/
}
html
{
}
em
{
    font-style: normal;
}
body

{
    overflow-x: hidden;
    width: 100%;
}
body>img
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 720px;
}

/*EN TETE JUSQU'AU SLOGAN*/
header
{
    position: relative;
    width: 100%;
}

/*BARRE ROUGE FIXE TOUT EN HAUT*/
.onglet
{
    position: fixed;
    z-index: 2500;
    width: 100%;
    opacity: 0.8;
}
#imgonglet
{
    position: absolute;
    top: 0px;
    z-index: 2500;
    width: 100%;
    height: 43px;
}
#adressemail
{
    position: absolute;
    margin-top: 0.3%;
    right: 35%;
    z-index: 2501;
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 90%;
}
#num
{
    position: absolute;
    margin-top: 0.4%;
    right: 15%;
    z-index: 2501;
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 150%;
}

/*LA BARRE DE NAVIGATION FIXE*/

/*On masque la navbar mobile*/
.mobile
{
    display: none;
}


.navbar
{
    height: 53px;
    background-color: rgba(255,255,255,0.8);
    background-image: none;
    border-bottom: 5px solid rgba(192,57,43,1);
    padding-left: 5%;
    top: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}
nav>div>ul>img
{
    position: absolute;
    left: 7px;
    top: -10px;
    width: 17%;
    opacity: 0.85;
}
.nav>li>a 
{
    border-radius: 0;
    color: rgba(192, 57, 43,1);
    font-weight: bold;
    line-height: 30px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.nav>li>a:hover
{
    background-color: rgba(192,57,43,1);
    color: #FFFFFF;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

/*LES IMAGES DU HEADER*/
#conteneur
{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-left: -7.5%;
    width: 115%;
}
#conteneur>div
{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 25%;
    height: 550px;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    border: 3px solid #FFFFFF;
    border-bottom: 7px solid #FFFFFF;
    transform: skewX(-15deg);
}
#slogan
{
    position: absolute;
    bottom : 7px;
    width: 100%;
    line-height: 300%;
    vertical-align: middle;
    background-color: rgba(192,57,43,0.8);
    text-align: center;
    font-size: 200%;
    color: #FFFFFF;    
}
/*PREMIERE IMAGE DU HEADER*/
#pendulaire
{
    background-image: url("img/pendulaire.jpg");
}
#grispendulaire
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-duration: 1s;
}
#titrependulaire
{
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 110px;
    margin-left: 19%;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
    transform: skewX(15deg);
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#txtpendulaire
{
    position: absolute;
    display: inline-block;
    margin-top: 200px;
    padding: 0 100px;
    width: 100%;
    opacity: 0;
    text-align: justify;
    vertical-align: middle;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 160%;
    transform: skewX(15deg);
}
#conteneur>div:hover
{
    width: 70%;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
}
#pendulaire:hover #titrependulaire
{
    margin-left: 30%;
    transition-duration: 3s;
    -webkit-transition-duration: 2.8s;
}
#pendulaire:hover #txtpendulaire
{
    margin-left: 5%;
    width: 100%;
    opacity: 1;
    transition-delay: 1.7s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 1.7s;
    -webkit-transition-duration: 0.4s;
}
#pendulaire:hover #grispendulaire
{
    background-color: rgba(0,0,0,0.6);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

/*DEUXIEME IMAGE DU HEADER*/
#dechets
{
    background-image: url("img/dechets.png");
}
#grisdechets
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-duration: 1s;
}
#titredechets
{
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 110px;
    margin-left: 10%;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
    transform: skewX(15deg);
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#txtdechets
{
    position: absolute;
    display: inline-block;
    margin-top: 200px;
    padding: 0 100px;
    width: 100%;
    opacity: 0;
    text-align: justify;
    vertical-align: middle;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 160%;
    transform: skewX(15deg);
}
#dechets:hover #titredechets
{
    margin-left: 30%;
    transition-duration: 3s;
    -webkit-transition-duration: 2.8s;
}
#dechets:hover #txtdechets
{
    opacity: 1;
    transition-delay: 1.7s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 1.7s;
    -webkit-transition-duration: 0.4s;
}
#dechets:hover #grisdechets
{
    background-color: rgba(0,0,0,0.6);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

/*TROISIEME IMAGE DU HEADER*/
#concasseur
{
    background-image: url("img/concasseur.png");
}
#grisconcasseur
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-duration: 1s;
}
#titreconcasseur
{
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 110px;
    margin-left: 21%;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
    transform: skewX(15deg);
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#txtconcasseur
{
    position: absolute;
    display: inline-block;
    margin-top: 200px;
    padding: 0 100px;
    width: 100%;
    opacity: 0;
    text-align: justify;
    vertical-align: middle;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 160%;
    transform: skewX(15deg);
}
#concasseur:hover #titreconcasseur
{
    margin-left: 32%;
    transition-duration: 3s;
    -webkit-transition-duration: 2.8s;
}
#concasseur:hover #txtconcasseur
{
    opacity: 1;
    transition-delay: 1.7s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 1.7s;
    -webkit-transition-duration: 0.4s;
}
#concasseur:hover #grisconcasseur
{
    background-color: rgba(0,0,0,0.6);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

/*QUATRIEME IMAGE DU HEADER*/
#bois
{
    background-image: url("img/bois.png");
}
#grisbois
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-duration: 1s;
}
#titrebois
{
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 110px;
    margin-left: 10%;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
    transform: skewX(15deg);
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#txtbois
{
    position: absolute;
    display: inline-block;
    margin-top: 200px;
    padding: 0 100px;
    width: 100%;
    opacity: 0;
    text-align: justify;
    vertical-align: middle;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 160%;
    transform: skewX(15deg);
}
#conteneur:hover #titrebois
{
    margin-top: 195%;
    transition-duration: 2.8s;
    -webkit-transition-duration: 2.8s;
}
#bois:hover #titrebois
{
    margin-top: 110px;
    margin-left: 25%;
    transition-duration: 2.8s;
    -webkit-transition-delay: -0.35s;
    -webkit-transition-duration: 2.8s;
}

#bois:hover #txtbois
{
    width: 90%;
    opacity: 1;
    transition-delay: 1.7s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 1.7s;
    -webkit-transition-duration: 0.4s;
}
#bois:hover #grisbois
{
    background-color: rgba(0,0,0,0.6);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}








/*/////////////////////////////
PAGE ACCUEIL
//////////////////////////////*/

/*LES VALEURS DE LA SAM DANS UNE FLEXBOX*/
#valeurs
{
    background-color: rgba(192,57,43,0.9);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0px 15px 0px;
    margin-top: 10%;
    width: 87%;
}
#valeurs>p
{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 200%;
    color: #FFFFFF; /*rgba(192,57,43,1);*/
}
#valeurs>div
{
    background-color: #FFFFFF;
    padding-top: 20px;
    margin: 0 7px;
    text-align: center;
    width: 23.5%;
}
#valeurs>div>img
{
    width: 50%;
}
#valeurs>div>p
{
    display: inline-block;
    margin-top: 10%;
    width: 80%;
    text-align: justify;
}
#valeurs>div>p>span
{
    display: block;
    text-align: center;
    margin-bottom: 5%;
    color: rgba(192,57,43,1);
    font-weight: bold;
}
/*LA CARTE GOOGLE MAP*/
#carte
{
    border-left: 4px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    padding: 0 50px;
    height: 300px;
}








/*/////////////////////////////
PAGE DEVIS
//////////////////////////////*/

form
{
    background-color: rgba(192,57,43,0.9);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    margin-top: 15%;
    padding: 20px 50px;
    width: 80%;
}
form>div
{
    margin: 50px 0;
}
form>h4
{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 200%;
    color: #FFFFFF;
}
#contnom, #contprenom
{
    width: 25%;
    margin: 5% 10%;
}
#contsociete, #contposte
{
    width: 25%;
    margin: 5% 10%;
}    
#conttel, #contemail
{
    width: 25%;
    margin: 5% 0%;
}
label
{
    display: block;
    color: white;
    font-size: 150%;
}
input
{
    background-color: transparent;
    padding-left: 7%;
    margin-top: 3%; 
    width: 100%;
    height: 40px;
    color: black;
    border: none;
    border-bottom: 5px solid white;
}
#secteur
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 25%;
    margin: 5% 0%;
}
#secteur h4
{
    width: 100%;
    color: white;
    font-size: 160%;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
#secteur>div
{
    margin: 15px 0;
    display: flex;
    flex-direction: row-reverse;
    width: 45%;
}
select
{
    background-color: transparent;
    padding: 5%;
    border: 1px solid #FFFFFF;
    color: white;
}
#contmessage
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    width: 90%;
}
#sujet
{
    width: 25%;
    margin-bottom: 5%;
}
#message
{
    padding: 2.5%;
    background-color: #FFFFFF;
    width: 100%;
    height: 300px;
}
#envoyer
{
    background-color: transparent;
    padding: 15px 0; 
    width: 25%;
    height: auto;
    margin: 5% 0;
    color: white;
    font-weight: bold;
    font-size: 150%;
}
#envoyer:hover
{
    border-color: rgb(255, 0, 0);
}








/*/////////////////////////////
PAGE RECUPFORM
//////////////////////////////*/


.msg
{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FF0000;
    font-size: 30px;
}











/*/////////////////////////////
PAGE PARTENAIRES
//////////////////////////////*/

.partenaires
{
    background-color: rgba(192,57,43,0.9);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
    padding: 12px 0;
    width: 95%;
    color: #FFFFFF;
}
.m7
{
    margin: 0 12px;
    width: 22%;
    height: 
}












/*/////////////////////////////
PAGE CONTACT
//////////////////////////////*/


.coordonnees
{
    background-color: rgba(192,57,43,0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    padding: 50px;
    margin: auto;
    margin-top: 10%;
}
.coordonnees>h4
{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 5%;
    font-size: 200%;
    color: #FFFFFF;
}
.personnes
{
    width: 31%;
    font-size: 110%;
}
.personnes>p
{
    text-align: center;
    color: white;
    margin-bottom: 30%; 
}
.mailToContact
{
    text-decoration: none;
    color: white;
}
.mailToContact:hover
{
    color: white;
}
.adresseSam
{
    width: 35%;
    font-size: 120%;
    border: 1px solid white;
    padding: 3%;
}
.adresseSam>p
{
    color: white;
    text-align: center; 
}
.map
{
    width: 50%;
}
.design
{
    width: 100%;
    text-align: center;
    margin-top: 4%;
}
.design>a
{
    font-size: 70%;
    color: white;
}
.design>a:hover
{
    color: white;
}










/*/////////////////////////////
FOOTER
//////////////////////////////*/

footer
{
    background-color: rgba(192,57,43,1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 0;
    margin-top: 120px;
    border-top: 7px solid #FFFFFF;
}
footer>div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 120%;
}
#contdesign
{
    width: 100%;
    margin-top: 40px;
}
.joker
{
    font-size: 70%;
    color: white;
}
.joker:hover
{
    color: white;
}












/*/////////////////////////////
FICHE
//////////////////////////////*/



.fiche
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    background-color: rgba(192,57,43,0.9);
    width: 80%;
    margin-top: 10%;
    padding: 10px 50px 100px 50px;
}
.intraliens 
{
    width: 100%;
}
.intraliens>a
{
    color: white;
    font-size: 80%;
    margin: auto;

}
.intraliens>a>p
{
    display: inline-block;
    width: 32%;
    text-align: center;
    padding-bottom: 1%;
}
.intraliens>a>p:hover
{
    border-bottom: 1px solid white;
}
.fiche>h3
{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 200%;
    color: #FFFFFF;
    margin: 7% 0;
}
.fiche>iframe
{
    width: 45%;
    margin: 2.5%;
    margin: auto;
}
.fiche>p
{
    width: 45%;
    color: white;
    text-align: justify;
    font-size: 120%;   
    margin: auto;
}









/*/////////////////////////////
RESPONSIVE
//////////////////////////////*/

@media (max-width: 1000px){

    .mobile
    {
        display: block;
    }
    .large
    {
        display: none;
    }
    html:before
    {
        background-image: url("./img/fond_mobile.jpg");
        opacity: 0.3;
        background-repeat: repeat-y;
        -webkit-background-size: cover;
        background-size: cover;
        content: " ";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        position: fixed;
        z-index: -1;   
    }
    


    /*//////////////////
    ACCUEIL
    //////////////////*/    
    #imgonglet
    {
        height: 100px;
    }
    #adressemail
    {
        font-size: 250%;
        left: 7%;
    }
    #num
    {
        right: 7%;
        top: 4.5px;
        font-size: 260%;
    }
    .navbar
    {
        height: auto;
        margin: 0;
        padding: 0;
        padding-bottom: 2%;
    }
    .container
    {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 5%;
        padding-left: 1.5%;
    }
    ul
    {
        width: 100%;
    }
    .nav>li
    {
        padding-top: 1%;
        margin: 3% 0;
        width: 65%;
        height: 50%;
    }
    .nav>.petit
    {
        width: 31%;
    }
    .nav>.moyen
    {
        width: 36%;
    }
    .nav>li>a
    {
        margin: auto 0;
        text-align: center;
        font-size: 305%;
        width: 100%;
    }

    /*LES IMAGES DU HEADER*/
    #conteneur
    {
        display: none;
    }
    #slogan
    {
        display: none;
    }
    /*VALEURS*/
    #valeurs
    {
        background-color: rgba(192,57,43,0.2);
        margin-top: 35%;
        width: 100%;
    }
    #valeurs>p
    {
        margin: 7% 9%;
        background-color: rgba(192,57,43,1);
        font-size: 450%;
        padding: 10% 0;
    }
    #valeurs>div
    {
        width: 82%;
        margin-bottom: 2%;
    }
    #valeurs>div>p
    {
        text-align: center;
        font-size: 300%;
    }
    footer
    {
        padding-top: 50%;
        margin-top: -394px;
    }
    footer>div
    {
        border-bottom: 2px solid white;
        width: 100%;
        padding-bottom: 11%;
    }
    .contcoordonnees
    {
        margin: 5% 0px;
    }
    .contcoordonnees>p
    {
        font-size: 240%;
        width: 100%;
    }
    #carte
    {
        width: 100%;
        border: none;
        order: 3;
    }
    #carte>iframe
    {
        width: 80%;
        height: 100%;
    }
    #contdesign
    {
        order: 4;
    }
}




